@{
    ViewBag.Title = "Frederico Ribeiro";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Telefone">P:</abbr>
    31 9.8878-6238
</address>

<address>
    <strong>Gmail:</strong> <a href="mailto:fmrone@gmail.com">fmrone@gmail.com</a>
</address>