@{
    ViewBag.Title = "Frederico Ribeiro";
}

<div class="jumbotron">
    <h1>Prova de Avaliação</h1>
    <p class="lead">Frederico Ribeiro</p>
    <p><a href="http://www.linkedin.com/in/frederico-ribeiro-06683347" class="btn btn-primary btn-lg">LinkedIn &raquo;</a></p>
</div>